/* tablet device */
@media screen and (max-width: 992px) {
    .container{
        width: 90%;
        margin: 0 auto;
        
    }
   
    
}


/* medium device */
@media screen and (max-width: 768px) {
     nav .btn{
        display: none;
    }
    .container{
        width: 90%;
        margin: 0 auto;       
    }
    .card1 {

    padding: 30px;
}
    .service-box {
   
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card5"
    ;
}



}


/* mobile device */
@media screen and (max-width: 576px) {
    nav .menu, .nav-btn{
        display: none;
    }
    nav .hamburger{
    display: block;
}
#hero p{
    padding: 30px;
    text-align: center;
}
    .container{
        width: 90%;
        margin: 0 auto;       
    }
 .circle-wrap{
    width: 280px;
 }
 .card-container {
    grid-template-columns: repeat(2, 1fr); 
    padding: 10px;
}
.service-box, .feature-box, .feature-host{
   display: block;   
}
.service-card{
    margin-bottom: 20px;
}
.card1 {

    padding: 30px;
}
.feature-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-host{
    padding: 30px;
}

.footer-card-box{
   
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(1, 50px); */
    /* gap: 50px; */
    /* text-align: center;
    justify-content: space-between; */
    gap: 10px
    
}
#footer-container{
    padding: 50px;
}

}
