/* tablet device */
@media screen and (max-width: 992px) {
    .container{
        width: 90%;
        margin: 0 auto;
        
    }
   
    
}


/* medium device */
@media screen and (max-width: 768px) {
     nav .btn{
        display: none;
    }
    .card-container {
    grid-template-columns: repeat(2, 1fr); 
    padding: 10px;
}
    .container{
        width: 90%;
        margin: 0 auto;       
    }
    .card1 {

    padding: 30px;
}
    .service-box {
   
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card5"
    ;
}



}


/* mobile device */
@media screen and (max-width: 576px) {
    nav .menu, .nav-btn{
        display: none;
    }
    nav .hamburger{
    display: block;
}
#hero p{
    text-align: center;
}
.about-container h2,
#service-container h2,
.feature-section h2  {
    font-size: 30px;
}
    .container{
        width: 90%;
        margin: 0 auto;       
    }
 .circle-wrap{
    width: 280px;
 }
 .card-container {
    grid-template-columns: repeat(2, 1fr); 
    padding: 10px;
}
.service-box, .feature-box, .feature-host{
   display: block;   
}
.service-card{
    margin-bottom: 20px;
}
.card1 {

    padding: 30px;
}
.feature-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-card {
    width: 100%;
    
}
.feature-host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    background: #250D44;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
}
.feature-host img {
    margin-right: 0px;
}
.feature-host h2{
    text-align: center;
    margin-top: 10px;
}
.feature-host ul{
    justify-content: center;
    margin-bottom: 20px;
}



.footer-card-box{
   
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
    
}
#footer-container{
    padding: 50px 0;
}

}
