* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #1a0b2e;
}

.container {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
   
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 25px;
    align-items: center;
}

nav .logo {
    width: 200px;
}


nav .menu {
    display: flex;
    justify-content: space-between;
}

nav .menu a {
    color: white;
    margin-right: 15px;
}

.btn {
    padding: 10px 20px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    color: white;

}

nav .btn:hover {
    background: linear-gradient(45deg, #e6d200, #ff0055, #7200c4);
}
nav .hamburger{
    display: none;
}

#hero {
    background: url(images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding: 55px 0;
    align-items: center;
}

.circle-wrap {
    position: relative;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.new{
 position: absolute;
    top: 0;
    right: 0;
}



.hero-content h1 {
    margin-top: 20px;
       font-size: 60px;
    font-weight: bold;
    color: white;

}

.hero-content p {
    margin-bottom: 25px;
    color: white;

}

.btn1 {
    margin-right: 15px;
}

.btn1:hover {
    background: linear-gradient(45deg, #e6d200, #ff0055, #7200c4);
}

.btn2 {

    border: 1px solid #00FF88;
    background: transparent;
    color: #00FF88;
}

.btn2:hover {
    color: #88ff11;
}

.about-container {
    padding: 50px 0;
    text-align: center;
}

.about-container h2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

.about-container p {
    font-size: 16px;
    color: white;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}
hr{
    color: #818080b7;
}

.card-container {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: space-between;

}

.card {
    padding: 20px;
      text-align: center;

}

.card h3 {
    font-size: 50px;
    color: #00FF88;
    font-weight: bold;
}

.card p {

    color: #ffffff;
}

#service-container {
    padding: 70px 0;
    margin-bottom: 20px;
}

#service-container h2,
.feature-section h2 {
    font-size: 48px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.service-card {
    background: #2a0f4d;
    border-radius: 25px;
    padding: 30px;

}

.card1 {

    padding-top: 100px;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.service-box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "card1 card1 card2 card2 card2 card2"
        "card1 card1 card3 card3 card3 card3"
        "card4 card4 card4 card4 card5 card5"
    ;
}

.service-card img {
    margin-bottom: 15px;
}

.service-card h4 {
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.service-card p {
    margin-bottom: 15px;
    color: white;
}

#service{
    background-color: #230E3D;
}

.feature-section {
    margin-top: 50px;
}

.feature-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.feature-card {
    width: 370px;
    background: #250D44;
    border-radius: 20px;
    overflow: hidden;
    gap: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 8px #00000050;
}

.feature-card h4 {
    color: white;
    padding: 5px 15px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.feature-card p {
    color: white;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;

}

.feature-card h6 {
    color: #00FF88;
    padding: 0 15px;
    margin-bottom: 15px;
}

.feature-host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: #250D44;
    padding: 70px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.feature-host img {
    margin-right: 20px;
}

.host-content h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
     text-align: start;
}

.host-content p {
    color: white;
}

.host-content ul {
    display: flex;
    margin-top: 40px;
    gap: 20px;

}

.host-content ul li a {
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
   
}

.host-content ul li a i {
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    /* color showing only inside the text */
    background-clip: text;
        color: transparent;
        /* color show what in the inside */
}
 ul li a:hover{
   background-color: #511681;

}

#footer-container{
    background-image: url(images/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 150px;
     display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.footer-card-box{
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    
}

  .footer-logo{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.footer-card{
display: flex;
gap: 5px;
align-items: center;
color: white;
font-weight: 200;
}
#footer-container h5{
    color: #fff;
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
}
