*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #1a0b2e;;
}
.container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 25px;
    align-items: center;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
}
nav span{
   background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;          /*reserch*/
    -webkit-text-fill-color: transparent;   /*reserch*/
  font-weight: bold;
}
nav .menu{
    display: flex;
    justify-content: space-between;  
}
nav .menu a{
    color: white;
    margin-right: 15px;
}
nav .btn{
    padding: 10px 20px;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
  
}
nav .btn:hover{
    background: linear-gradient(45deg, #e6d200, #ff0055, #7200c4);

}